body{
	font-family:century gothic;
	background-color:#e2e2e2;
}
#fullTable{
	width:100%;
	height:100%;	 
	cellpadding:0;
	cellspacing:0;
}

#fullTable td:nth-child(2){
	width:65%;
}
#fullTable td:nth-child(3){
	width:20%;
}
#titleCell{
	height: 10%;
}
.options{
	width:150px;
	height: 23px;
	-webkit-border-radius:7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-left:20px;
}
.justBoldTitles{
	font-weight:bold;
	text-align:center;
}
.textSelect{
	margin-top:10px;
	font-size:12px;
	padding-top:10px;
	margin-left:20px;
}
.lowerButtons{
	font-family:century gothic;
	font-weight:bold;
	text-align:left;
	color:#252525;
	background-color:#e1e1e1;
	margin-top:10px;
	width:180px;
	padding-left:20px;
	
}
#modifyTable{
	font-size:12px;
	font-weight:bold;
}
#modifyTable td{
	width: 50%;
}
#viewLeft{
	color:white;
	width:15%;
	background-color:#252525;
}
#secondaryTitles{
	height: 5%;
	background-color:#e1e1e1;
	text-align:justify;
}
#titleCell, #userCell{
	height: 10%;
	text-align:center;
	background-color:#3cb878;
	color:white;
}
#titleCell{
	font-size: 30px;
	font-weight: bold;
}
#thirdCells{
	background-color:#e1e1e1;
}
#lower{
	border-top: 1px solid #eeeeee;
	float:bottom;
	height:40%;
}
#upper{
	height:60%;
	float:top;
}